@import url(./__container/popup__container.css);
@import url(./_opened/popup_opened.css);
.popup {
    display: flex;
    justify-content: center;
    padding-top: 195px;
    display: none;
    position: absolute;
}