@import url(./__container/popup__container.css);
@import url(./_opened/popup_opened.css);
@import url(./__button-close/popup__button-close.css);
.popup {
    background: rgba(0, 0, 0, .5);
    width: 100%;
    position: fixed;
    height: 100%;
    display: none;
}