.card__heart {
    border: none;
    background: url(../../../images/heart.svg) center no-repeat;
    background-size: 100%;
    cursor: pointer;
    height: 20px;
    width: 20px;
    right: 10px;
    transition: 0.3s;
    margin-top: 6.5px;
}

.card__heart:hover {
    opacity: 0.6;
}